<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('../partials/cdns.ejs')%>
        <title>
            <%= title %>
        </title>
</head>

<body>

    <%- include('../partials/nav.ejs')%>

        <!-- navbar ends -->
        <div class="d-flex align-items-center justify-content-center mt-5">
            <div class="row gap-3">
                <% if(blogs.length>0){
                    blogs.forEach( blog=> {
                    %>
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <a href='/blogs/<%=blog._id%>' class="card-link text-decoration-none">
                                <h5 class="card-title">
                                    <%= blog.title%>
                                </h5>
                            </a>

                            <h6 class="card-subtitle mb-2 text-body-secondary">
                                <%= blog.previewText%>
                            </h6>
                            <p class="card-text">
                                <%= blog.blogBody%>
                            </p>

                            <h6 class="card-subtitle mb-2 text-body-secondary">
                                <%= blog.author%>
                            </h6>
                        </div>
                    </div>
                    <%} ) } %>
            </div>
        </div>
        <%- include('../partials/footer.ejs')%>
</body>

</html>